.chore-card {
  max-width: 400px;
  background-color: darkslategray;
  border-radius: 10px;
}

.chore-card .mat-mdc-card-title {
  color: white;
}

.chore-complete-button {
  float: right;
}

.chore-menu {
  color: white;
}

.chore-hint {
  color: white;
  font-size: smaller;
}

.chore-assignee-select {
  width: 80%;
}